* {
  box-sizing: border-box;
}

header, nav, main, footer { display: block; }

body {
  background-image: url(./image/background.gif);
  background-color: #FCEBB6;
  color: #221811;    /* colour use for font */
  font-family: Verdana, Arial, sans-serif;
}

#wrapper { /* hashtag use for tag='' */
  background-color: #231814;
  min-width: 900px;
  max-width: 1280px;
  box-shadow: #221811 3px 3px 3px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

header {
  height: 150px;
  background-image: url(./image/javajamlogo.jpg);
  background-repeat: no-repeat;
  background-color: #D2B48C;
}

nav {
  float: left;
  width: 200px;
  font-size: 1.5em;
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
}

nav a {
 text-decoration: none;
}

nav a:link {
  color: #FEF6C2;
}

nav a:visited {
  color: #D2B48C;
}

nav a:hover {
  color: #CC9933;
}

nav ul * {
  padding-left: 0;
  list-style-type: none; /*no "dots" on left*/
}

main h2, main h3, main h4, main p, main div, main ul, main dl {
  padding-left: 3em;
  padding-right: 2em;
}

main {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 2em;
  margin-left: 200px;
  background-color: #FEF6C2;
  display: block;
}

#heroroad {
  background-image: url(./image/heroroad.jpg);
  background-size: 100%;
  height: 250px;
}

#heromugs {
  background-image: url(./image/heromugs.jpg);
  background-size: 100%;
  height: 250px;
}

#heroguitar {
  background-image: url(./image/heroguitar.jpg);
  background-size: 100%;
  height: 250px;
}

h1 {
  line-height: 200%;
  padding-top: 45px;
  padding-left: 220px;
  font-size: 3em;
}

h4 {
  text-transform: uppercase;
  padding-bottom: 0px;
  background-color: #D2B48C;
  font-size: 1.2em;
  padding-left: 0.5em;
  border-bottom: #221811;
  clear: left;
}

.details {
  overflow: auto;
  padding-left: 20%;
  padding-right: 20%;
}

footer {
  padding-bottom: 10px;
  border-top: solid #221811;
  background-color: #D2B48C;
  font-size: 0.60em;
  font-style: italic;
  text-align: center;
}

img {
  padding-left: 10px;
  padding-right: 10px;
}

.floatleft {
  float: left;
  padding-right: 2em;
  padding-bottom: 2em;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-spacing: 0;
  background-color: #FFFFCC;
}

td, th {
  padding: 10px;
}

tr:nth-of-type(odd) { /*add background colour on table row*/
    background-color: #D2B48E;
}

form {
  padding: 2em;
}

label {
  float: left;
  display: block;
  text-align: right;
  width: 8em;
  padding-right: 1em;
}

input, textarea {
  display: block;
  margin-bottom: 1em;
}

#mySubmit {
  margin-left: 9.5em;
}

#herojobs {
  height: 250px;
  background-image: url(./image/herojobs.jpg);
  background-size: 100% 100%;
}

